/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

svg:not(:root) {
  overflow: hidden;
}


::-webkit-input-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.2em;
}

:-moz-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.2em;
}

::-moz-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.2em;
}

:-ms-input-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.2em;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background: #f3f3f3;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9de;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

input {
  -webkit-user-select: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  -webkit-appearance: none;
}
