.cmn-toggle {
  position: absolute;
  visibility: hidden;
}

.cmn-toggle + label {
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  user-select: none;
}

.cmn-toggle + label {

}

// switch
input.cmn-toggle-round + label {
  font-size: 60px;
  padding: 2px;
  width: 2em;
  height: 1em;
  background-color: $gray-light;
  border-radius: 1em;
}

input.cmn-toggle-round.big + label,
input.cmn-toggle-round-flat.big + label {
  font-size: 60px;
}

input.cmn-toggle-round.medium + label,
input.cmn-toggle-round-flat.medium + label {
  font-size: 26px;
}

input.cmn-toggle-round.small + label,
input.cmn-toggle-round-flat.small + label {
  font-size: 16px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  bottom: 1px;
  content: "";
  display: block;
  left: 1px;
  position: absolute;
  top: 1px;
}

input.cmn-toggle-round + label:before {
  background-color: #f1f1f1;
  border-radius: 1em;
  right: 1px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  background-color: $white;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba($black, 0.3);
  transition: margin 0.4s;
  width: 0.54em;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #c9c9c9;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 1em;
}

//switch line
input.cmn-toggle-round-flat + label {
  background-color: #c9c9c9;
  font-size: 60px;
  height: 16px;
  padding: 2px;
  width: 2em;
  @include transition(background-color $transition-time);
  @include border-radius(1em);
}

input.cmn-toggle-round-flat.txt + label {
  height: 17px;
  width: 34px;
}

input.cmn-toggle-round-flat.txt + label span {
  font-weight: 300;
  @include transition(opacity $transition-time);
}

input.cmn-toggle-round-flat.txt + label span.on{
  opacity: 0;
}

input.cmn-toggle-round-flat.txt:checked + label span.on {
  opacity: 1;
}

input.cmn-toggle-round-flat.txt:checked + label span.off {
  opacity: 0;
}

input.cmn-toggle-round-flat.txt + label span.on{
  color: $color-base;
  font-size: 0.65em;
  left: 5px;
  position: absolute;
  top: 2px;
}

input.cmn-toggle-round-flat.txt + label span.off{
  color: #c9c9c9;
  font-size: 0.65em;
  right: 5px;
  position: absolute;
  top: 2px;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: $color-base;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  background-color: $white;
  border-radius: 1em;
  bottom: 2px;
  left: 2px;
  right: 2px;
  top: 2px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  background-color: #c9c9c9;
  bottom: 4px;
  left: 4px;
  top: 4px;
  transition: margin 0.4s, background 0.4s;
  width: .867em;
  @include border-radius(50%);
}

input.cmn-toggle-round-flat.medium + label:after {
  width: 0.8em;
}

input.cmn-toggle-round-flat.small + label:after {
  width: 0.54em;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: $color-base;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 1em;
  background-color: $color-base;
}

//switch 3
input.cmn-toggle-yes-no + label {
  font-size: 60px;
  padding: 2px;
  width: 120px;
  height: 60px;
}

input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $white;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
}

input.cmn-toggle-yes-no + label:before {
  background-color: $gray-light;
  content: attr(data-off);
  transition: transform 0.5s;
  backface-visibility: hidden;
}

input.cmn-toggle-yes-no + label:after {
  background-color: $color-base;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}
